<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap-treeview/css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="js/bootstrap-treeview/css/default.css">
    <link rel="stylesheet" href="js/bootstrap-treeview/css/normalize.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <![endif]-->
    <script src="js/app/config.js?v=3"></script>
    <script src="js/libs/urlutil.js"></script>
    <script src="js/jqueryTmpl/jquery.tmpl.js"></script>
    <script src="js/libs/lbajax.js?v=1"></script>
    <script src="js/libs/dateutil.js?v=1"></script>
    <script src="js/libs/arrayutil.js?v=1"></script>
    <script src="js/libs/math.js?v=1"></script>
    <script src="js/app/orderdetail.js?v=7"></script>
    <title>订单明细</title>
</head>

<body class="">
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <a class="btn" href="http://usercenter.taozhumall.com/customerlogin.html">登录</a>
            <a class="btn" href="http://usercenter.taozhumall.com/memberregister.html">注册</a>
            <a class="btn" href="./index.html">首页</a>
            <a class="btn" href="./orderlist.html">我的订单</a>
            <a class="btn" href="./cart.html">购物车</a>
        </div>
    </div>
</nav>
<div class="py-5">


    <div class="container" id="detail" />



</div>


<script id="detailTemplate" type="text/x-jquery-tmpl">


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">订单信息</div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-2">订单号:</label>
                    <div class="col-sm-4">
                        <label>${id}</label>
                    </div>
                    <label class="col-sm-2">创建时间:</label>
                    <div class="col-sm-4">
                        <label>${createTimeStr}</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2">状态:</label>
                    <div class="col-sm-4">
                        <label>
                        {{if status==1}}
                             待支付
                            {{/if}}
                             {{if status==2}}
                             订单取消
                             {{/if}}
                             {{if status==3}}
                             待发货
                             {{/if}}
                             {{if status==4}}
                             待收货
                             {{/if}}
                             {{if status==5}}
                             交易成功
                            {{/if}}

                        </label>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">店铺1</div>
            <div class="card-body">
            {{each orderItemList}}
                <div class="row">
                    <a href="./productdetail.html?id=${productId}"><img
                            src="${productImageUrl}"
                            class="img-thumbnail" width="80" height="80"/></a>
                    <span style="width:150px;" class="contentpadding"><a href="./productdetail.html?id=${productId}">${productName}</a></span>
                    <span style="width:80px;" class="contentpadding">${unitPrice}</span>
                    <span style="width:50px;" class="contentpadding">${productNum}</span>
                    <span style="width:100px;" class="contentpadding">${total}</span>
                    </span>
                </div>
            {{/each}}
            </div>
        </div>
    </div>

   <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                总额:${totalAmount}
            </div>
        </div>
    </div>
</script>


</body>

</html>