<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lubanresearch.lubanmall.searchservice.infrastructure.persistence.db.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.lubanresearch.lubanmall.searchservice.domain.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, img_url, unit_price, shop_id, category_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.lubanresearch.lubanmall.searchservice.infrastructure.persistence.db.query.condition.ProductQueryCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from lb_product
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lb_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from lb_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lb_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lubanresearch.lubanmall.searchservice.infrastructure.persistence.db.query.condition.ProductQueryCondition">
    delete from lb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    insert into lb_product (id, name, img_url, 
      unit_price, shop_id, category_id, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=DECIMAL}, #{shopId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    insert into lb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('name')">
            name,
          </if>
          <if test="_parameter.hasSelective('img_url')">
            img_url,
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            unit_price,
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            shop_id,
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id,
          </if>
          <if test="_parameter.hasSelective('create_time')">
            create_time,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="name != null">
            name,
          </if>
          <if test="imgUrl != null">
            img_url,
          </if>
          <if test="unitPrice != null">
            unit_price,
          </if>
          <if test="shopId != null">
            shop_id,
          </if>
          <if test="categoryId != null">
            category_id,
          </if>
          <if test="createTime != null">
            create_time,
          </if>
        </otherwise>
      </choose>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('name')">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('img_url')">
            #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            #{shopId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('create_time')">
            #{createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="name != null">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="imgUrl != null">
            #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="unitPrice != null">
            #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="shopId != null">
            #{shopId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lubanresearch.lubanmall.searchservice.infrastructure.persistence.db.query.condition.ProductQueryCondition" resultType="java.lang.Long">
    select count(*) from lb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lb_product
    <set>
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('name')">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('img_url')">
            img_url = #{record.imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('unit_price')">
            unit_price = #{record.unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.hasSelective('shop_id')">
            shop_id = #{record.shopId,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('category_id')">
            category_id = #{record.categoryId,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('create_time')">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.name != null">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.imgUrl != null">
            img_url = #{record.imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="record.unitPrice != null">
            unit_price = #{record.unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.shopId != null">
            shop_id = #{record.shopId,jdbcType=BIGINT},
          </if>
          <if test="record.categoryId != null">
            category_id = #{record.categoryId,jdbcType=BIGINT},
          </if>
          <if test="record.createTime != null">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lb_product
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      category_id = #{record.categoryId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    update lb_product
    <set>
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('name')">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('img_url')">
            img_url = #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            unit_price = #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            shop_id = #{shopId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id = #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('create_time')">
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="imgUrl != null">
            img_url = #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="unitPrice != null">
            unit_price = #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="shopId != null">
            shop_id = #{shopId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            category_id = #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    update lb_product
    set name = #{name,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      shop_id = #{shopId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="upsert" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into lb_product
    (id, name, img_url, unit_price, shop_id, category_id, create_time)
    values
    (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{shopId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    name = #{name,jdbcType=VARCHAR}, 
    img_url = #{imgUrl,jdbcType=VARCHAR}, 
    unit_price = #{unitPrice,jdbcType=DECIMAL}, 
    shop_id = #{shopId,jdbcType=BIGINT}, 
    category_id = #{categoryId,jdbcType=BIGINT}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}
  </insert>
  <insert id="upsertByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into lb_product
    (id, name, img_url, unit_price, shop_id, category_id, create_time)
    select
    #{record.id,jdbcType=BIGINT}, #{record.name,jdbcType=VARCHAR}, #{record.imgUrl,jdbcType=VARCHAR}, 
      #{record.unitPrice,jdbcType=DECIMAL}, #{record.shopId,jdbcType=BIGINT}, #{record.categoryId,jdbcType=BIGINT}, 
      #{record.createTime,jdbcType=TIMESTAMP}
    from dual where not exists
    (
    select 1 from lb_product
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    )
    ;
    update lb_product
    set
    id = #{record.id,jdbcType=BIGINT}, 
    name = #{record.name,jdbcType=VARCHAR}, 
    img_url = #{record.imgUrl,jdbcType=VARCHAR}, 
    unit_price = #{record.unitPrice,jdbcType=DECIMAL}, 
    shop_id = #{record.shopId,jdbcType=BIGINT}, 
    category_id = #{record.categoryId,jdbcType=BIGINT}, 
    create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </insert>
  <insert id="upsertSelective" parameterType="com.lubanresearch.lubanmall.searchservice.domain.Product">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into lb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('name')">
            name,
          </if>
          <if test="_parameter.hasSelective('img_url')">
            img_url,
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            unit_price,
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            shop_id,
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id,
          </if>
          <if test="_parameter.hasSelective('create_time')">
            create_time,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="name != null">
            name,
          </if>
          <if test="imgUrl != null">
            img_url,
          </if>
          <if test="unitPrice != null">
            unit_price,
          </if>
          <if test="shopId != null">
            shop_id,
          </if>
          <if test="categoryId != null">
            category_id,
          </if>
          <if test="createTime != null">
            create_time,
          </if>
        </otherwise>
      </choose>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('name')">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('img_url')">
            #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            #{shopId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('create_time')">
            #{createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="name != null">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="imgUrl != null">
            #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="unitPrice != null">
            #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="shopId != null">
            #{shopId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id = #{id,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('name')">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('img_url')">
            img_url = #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('unit_price')">
            unit_price = #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="_parameter.hasSelective('shop_id')">
            shop_id = #{shopId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id = #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('create_time')">
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id = #{id,jdbcType=BIGINT},
          </if>
          <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="imgUrl != null">
            img_url = #{imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="unitPrice != null">
            unit_price = #{unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="shopId != null">
            shop_id = #{shopId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            category_id = #{categoryId,jdbcType=BIGINT},
          </if>
          <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <insert id="upsertByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into lb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id,
          </if>
          <if test="record.hasSelective('name')">
            name,
          </if>
          <if test="record.hasSelective('img_url')">
            img_url,
          </if>
          <if test="record.hasSelective('unit_price')">
            unit_price,
          </if>
          <if test="record.hasSelective('shop_id')">
            shop_id,
          </if>
          <if test="record.hasSelective('category_id')">
            category_id,
          </if>
          <if test="record.hasSelective('create_time')">
            create_time,
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id,
          </if>
          <if test="record.name != null">
            name,
          </if>
          <if test="record.imgUrl != null">
            img_url,
          </if>
          <if test="record.unitPrice != null">
            unit_price,
          </if>
          <if test="record.shopId != null">
            shop_id,
          </if>
          <if test="record.categoryId != null">
            category_id,
          </if>
          <if test="record.createTime != null">
            create_time,
          </if>
        </otherwise>
      </choose>
    </trim>
    select
    <trim suffixOverrides=",">
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('name')">
            #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('img_url')">
            #{record.imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('unit_price')">
            #{record.unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.hasSelective('shop_id')">
            #{record.shopId,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('category_id')">
            #{record.categoryId,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('create_time')">
            #{record.createTime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.name != null">
            #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.imgUrl != null">
            #{record.imgUrl,jdbcType=VARCHAR},
          </if>
          <if test="record.unitPrice != null">
            #{record.unitPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.shopId != null">
            #{record.shopId,jdbcType=BIGINT},
          </if>
          <if test="record.categoryId != null">
            #{record.categoryId,jdbcType=BIGINT},
          </if>
          <if test="record.createTime != null">
            #{record.createTime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
    from dual where not exists
    (
    select 1 from lb_product
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    )
    ;
    update lb_product
    set
    <trim suffixOverrides=",">
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null">
        unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </insert>
</mapper>